{% extends "base_backoffice.html" %}

{% load static floppyforms%}
{% block title %}
    Activation des cours
{% endblock %}
{% block contenu %}
    <div class="well">
        <h1>Gestion de l'activation des cours</h1>
    </div>
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}

        {% form form %}
        {% include "include/bootstrap_submit.html" with value="Envoyer" %}
    </form>
    <section class="well">
        {{ message }}
    </section>

    <script type="text/javascript" src="{% static "backoffice/js/dossier_receptionne.js" %}"></script>
{% endblock %}
